:root{
 --cor-fundo: #45df67;
}


*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color:  tomato;
    transition: background-color 1s;
}

input{
    padding: 8px 12px;
    font-size: 12px;
}

button{
    padding: 8px 12px;
    font-size: 12px;
    cursor: pointer;
}